<nav class="menu">
    <div class="container-logo">
      <p class="title">Pokedex</p>
      <img src="assets/images/logo.png" alt="logo" class="logo">
      <i  id="boton" class="nav-icon"><div></div></i>
    </div>
      <ul id="nav" class="nav-items">
        <li><a routerLink='/home' routerLinkActive="active-link">home</a></li>
        <li><a routerLink='/pokemones' routerLinkActive="active-link">pokemones</a></li>
        <li><a routerLink='/allcards' routerLinkActive="active-link">tarjeta</a></li>
      </ul>
</nav>