<div class="button">
    <div class="container-search">
    <input class="search" type="text" placeholder="Nombre del pokemon “bulbasaur”" [(ngModel)]="name">
    <button style="margin-top: 10px; background-color:#C0D6B5; width: 60px; height: 50px;"  (click)="search()">Buscar</button>
    </div>
    </div>
    <div class="pokecard"> 
        <img class="pokeball" src="assets/images/Pokeball.png">
        <p class="namepokemon">{{urlNam}}</p>
       <div class="image">
        <img class="img" src="{{urlImg}}">
      </div>
       <div class="cardtext">
         <p class="text">Id: {{urlId}}</p>
         <p class="text">Type: {{urlType}} {{urlType2}}</p> 
         <p class="text">Height: {{urlHeight}}</p> 
         <p class="text">Hp: {{urlHp}}</p> 
         <p class="text">Attack: {{urlAtt}}</p>
         <p class="text">Defense: {{urlDef}}</p>
         <p class="text">Special Attack: {{urlSpAtt}}</p>
         <p class="text">Special Defence: {{urlSpDef}}</p>
         <p class="text">Speed: {{urlSpeed}}</p>
       </div>
    </div>