<section class="container_portada">
    <img src="assets/images/imagenportada.png" alt="imagenpokebola" class="imgpokebola">
    <p class="titlebienvenidos">Bienvenidos</p>

    <div class="card-1" >
        <div class="cuadro-1">
          <h1 class="titlepokemon">Eevee</h1> 
          <img src="assets/images/Eevee.webp" class="img-list">
          <div class="calificacion">
            <h2 class="datos">DATOS</h2>
            <p class="datostexto">Id:<br>Type:<br> Height:<br>Hp: </p>
           </div>
           <div class="resultado-1">
            <p>133<br>normal<br> 3<br>55</p>             
          </div>
      </div>
       <div class="cuadro-2">
        <h1 class="titlepokemon-2">Snorlax</h1>
        <img src="assets/images/Snorlax.webp" class="img-list">
        <div class="calificacion">
          <h2 class="datos">DATOS</h2>
          <p class="datostexto">Id:<br>Type:<br> Height:<br>Hp:</p>        
          </div>
          <div class="resultado-2">
            <p>154<br>normal<br>21<br>160</p>             
        </div>
      </div>
      <div class="cuadro-3">
        <h1 class="titlepokemon-3">Jigglypuff</h1>
        <img src="assets/images/Jigglypuff.webp" class="img-list"> 
        <div class="calificacion">
          <h2 class="datos">DATOS</h2>
          <p class="datostexto">Id:<br>Type:<br> Height:<br>Hp:</p>      
          </div>
          <div class="resultado-3">
            <p>39<br>fairy<br> 115<br>45</p>             
            </div>
      </div> 
  </div>
  <div class="card-2">
      <div class="cuadro-4">
        <h1 class="titlepokemon-4">Psyduck</h1>
        <img src="assets/images/Psyduck.webp" class="img-list">   
        <div class="calificacion">
          <h2 class="datos">DATOS</h2>
          <p class="datostexto">Id:<br>Type:<br> Height:<br>Hp:</p>   
          </div>  
          <div class="resultado-4">
            <p>54<br>water<br>8<br>50</p>             
      </div>
    </div>
      <div class="cuadro-5">
        <h1 class="titlepokemon-5">Pikachu</h1>
        <img src="assets/images/Pikachu.webp" class="img-list">  
        <div class="calificacion">
          <h2 class="datos">DATOS</h2>
          <p class="datostexto">Id:<br>Type:<br> Height:<br>Hp:</p>        
           </div>
          <div class="resultado-5">
            <p>25<br>electric<br>4<br>35</p>             
            </div>
      </div>
      <div class="cuadro-6">
        <h1 class="titlepokemon-6">Gengar</h1>
        <img src="assets/images/Gengar.webp" class="img-list">  
        <div class="calificacion">
          <h2 class="datos">DATOS</h2>
          <p class="datostexto">Id:<br>Type:<br> Height:<br>Hp:</p>   
          </div>      
          <div class="resultado-6">
          <p >94<br>ghost<br>15<br>60</p>             
          </div>
      </div>
  </div>
</section>